.parallax {
    background-image: url('img/revolucion.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FAFAFA;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #0055A4;
    height: 7vh;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #FAFAFA;
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

.link-no-underline {
    text-decoration: none;
    color: #FAFAFA;
}


.content {
    height: calc(100vh - 60px); /* Ajusta la altura según el tamaño de la barra de navegación */
    padding-top: 60px; /* Ajusta el padding según el tamaño de la barra de navegación */
    background-color: #FAFAFA;
}

.gris {
    background-color: whitesmoke;
}

.btn-soli {
    background-color: #FF0000;
    color: #FAFAFA;
    cursor: pointer;
}

.btn-soli:hover {
    background-color: #FF5757;
    color: #FAFAFA;
}

.footer {
    background-color:#0055A4;
    color: #FAFAFA;
}
