* { /* ALGDGADU */
    scroll-behavior: smooth;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body { /* DEMOCRACIA 146 */
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color:white;
}

header {
    height: 500px;
}

a {
    display: block;
    text-decoration: none;
    color:  #292b2f;
}

article {
    height: 500px;
    margin: 1%;
    padding: 1%;
    border: 1%;
    align-items: center;
    justify-content: center;

}

section {
    height: 500px;
    margin: 1%;
    padding: 1%;
    border: 1%;
    align-items: center;
    justify-content: center;
    }

footer {
    height: 500px;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-shadow: 2px 2px 8px black;
}

img {
    transition: all 1.125s;
}
img:hover{
    transform: scale(1.125)
}  

/* SCROLLBAR */
::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #252220; 
}
::-webkit-scrollbar-thumb {
    background: red; 
}
::-webkit-scrollbar-thumb:hover {
    background: blue; 
}

/* RESPONSIVE */
@media (min-width: 320px) and (max-width: 767px) { 
    body {
    column-count: 1;
    }
    header {
    column-span: none;
    }
    nav {
    column-span: none;
    font-size: small;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body {
    column-count: 2;
    }
    header {
    column-span: none;
    }
    nav {
    column-span: all;
    font-size: medium;
    }
}
@media (min-width: 1025px) {
    body {
    column-count: 2;
    }
    header {
    column-span: none;
    }
    nav {
    column-span: all;
    font-size: medium;
    }
}