/* ALGDGADU */
html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: whitesmoke;
    display: block;
}    

header {
    height: 500px;
    text-shadow: 8px 8px 16px black;

}


/* NAVEGADOR */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #002654;
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
li {
    margin: 0.5rem;
}
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ce1126;
}

article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    color: #252220;
}

section {
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.azul {
    background-color: #002654;
}

.rojo {
    background-color: #ce1126;
}

footer {
}

/* PARALLAX */
.parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;

}

/* IMAGENES */
img {
    max-height: 350px;
    transition: all 1.125s;
    filter: drop-shadow(2px 2px 8px #252220);
}
img:hover{
    transform: scale(1.125)
}

.video {
    height: 315px;
    width: 560px;
}

/* SCROLLBAR */
::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #252220; 
}
::-webkit-scrollbar-thumb {
    background: #002654; 
}
::-webkit-scrollbar-thumb:hover {
    background: #ce1126; 
}

/* RESPONSIVE */

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    li {
        margin: 0.25rem;
    }
}

/* For devices with a maximum width of 576px */
@media (max-width: 576px) {
    li a {
        padding: 10px;
    }
}