/* ALGDGADU */
html, body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #ffffff;
}

header {
    height: 500px;
}

article {
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #002654;
    color: #ce1126;
}

section {
    height: 500px;
    margin: 1%;
    padding: 1%;
    border: 1%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    }

footer {
    height: 500px;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    text-shadow: 2px 2px 8px black;
}

/* IMAGENES */
img {
    transition: all 1.125s;
    sha : 2px 2px 8px black;

}
img:hover{
    transform: scale(1.125)
}  

/* SCROLLBAR */
::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #252220; 
}
::-webkit-scrollbar-thumb {
    background: #002654; 
}
::-webkit-scrollbar-thumb:hover {
    background: #ce1126; 
}

/* RESPONSIVE */
@media (min-width: 320px) and (max-width: 767px) { 
    body {
    column-count: 1;
    }
    header {
    column-span: none;
    }
    nav {
    column-span: none;
    font-size: small;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body {
    column-count: 2;
    }
    header {
    column-span: none;
    }
    nav {
    column-span: all;
    font-size: medium;
    }
}
@media (min-width: 1025px) {
    body {
    column-count: 2;
    }
    header {
    column-span: none;
    }
    nav {
    column-span: all;
    font-size: medium;
    }
}


